
#login {
    text-align: center;
}
.form-input {
    margin-top: 20px;
    margin-bottom: 20px
    ;

}

#Reimbursements-tbl {
    background-color: rgba(95, 180, 206, 0.966);
}

.addReimb-table-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .add-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
} */

h1 {
    background-color: rgba(128, 219, 54, 0.548);
    text-align: center
}